/* Put your css in here */

input[type="text"],
input[type="password"],
textarea,
select {
  outline: none;
  border: none;
  line-height: initial;
  background: black;
  color: white;
}

body {
  font-family: "Courier New";
  background: black;
  color: white;
  font-size: 18px;
  padding: 18px;
}

input {
  font-family: "Courier New";
  margin-left: 10px;
  margin-bottom: 1px;
  flex: 2;
}

form {
  display: flex;
}
